.hero-new-90 svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-new-90 svg mask rect {
  fill: white;
}

.hero-new-90 svg > rect {
  fill: #f4f4f4;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

image {
  transform: translateX(26%);
}

video {
  min-width: 100%;
  min-height: 100%;
  max-height: 100vh;
}

.container-img-simil-bg {
  width: 100vw;
  height: 100vh;
}

.container-img-simil-bg.red {
  background-color: red;
}
.container-img-simil-bg.green {
  background-color: green;
}

.container-img-simil-bg.purple {
  background-color: purple;
}

.top-bar_sound-activator {
  position: fixed;
  right: 140px;
  display: flex;
  z-index: 999;
  top: 34px;
  mix-blend-mode: difference;
  filter: invert(1);
  cursor: pointer;
}
.top-bar_sound-activator .sound-active {
  display: none;
}

.top-bar_sound-activator.active .sound-active {
  display: block;
}
.top-bar_sound-activator.active .sound-no-active{
    display: none;
}
.container-img-3 {
  display: flex;
  height: 100vh;
}
.container-img-3 img {
  width: calc(100% / 3);
  height: 100%;
  object-fit: cover;
}

.footer {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 0.625rem;
    gap: 0.625rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0 24px ;
    mix-blend-mode: difference;
}

.footer p:first-of-type {
    grid-column: 1/span 4;
}
.footer p:nth-child(2) {
    grid-column: 5/span 4;
}

.footer p:last-of-type {
    grid-column: 9/span 4;
}

.footer p{
    color: black;
    filter: invert(1);
    font-size: 14px;
}
.footer a{
    text-decoration: none;
    padding-bottom: 0;
    color: white;
    filter: invert(1);
}